<a href="https://colab.research.google.com/github/wndnjs2037/2021W_Python-/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC(%EB%82%98)_20220216.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

# 01092225936 강사님 전화번호

# 판다스 기초 배울거임
# 강의 목표 : 판다스를 배워서 간단한 데이터 전처리를 하즈앙
# 전처리한 데이터를 시각화 하는 방법

# 데이터 분석, 데이터 시각화, 데이터 사이언티스트 배우고 싶은 사람 대상

# 6일간 배울 내용
# 1-2일 : 교재 챕터 3까지
# 판다스의 자료형 : Series, DataFrame
# 데이터 프레임 활용하기
# 테이블 조회, 수정
# 공공데이터 다운받아서 전처리, 시각화

In [ ]:
"""
데이터 분석
1. 문제 정의
2. 필요한 데이터 수집
3. 데이터 전처리 -> 판다스 사용
4. 시각화 / 학습에 사용
5. 인사이트 도출

엑셀을 대체해서 판다스를 사용하는 이유
1. 수식 연산이 빠름 (numpy로 만들어졌기 때문)
2. 대용량 데이터 처리할 수 있음
3. 파이썬 코드로 되어있음 
4. 누락된 데이터(결측치) 처리 용이
"""

'\n데이터 분석\n1. 문제 정의\n2. 필요한 데이터 수집\n3. 데이터 전처리 -> 판다스 사용\n4. 시각화 / 학습에 사용\n5. 인사이트 도출\n\n엑셀을 대체해서 판다스를 사용하는 이유\n1. 수식 연산이 빠름 (numpy로 만들어졌기 때문)\n2. 대용량 데이터 처리할 수 있음\n3. 파이썬 코드로 되어있음 \n4. 누락된 데이터(결측치) 처리 용이\n'

In [ ]:
import pandas as pd #판다스 불러오기

In [ ]:
import pandas as pd

dates = pd.date_range('20190301', periods=6) #6개의 데이터를 추출해줌
dates

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
import numpy as np
# 데이터프레임을 만들기위한 모듈 호출

In [ ]:
import numpy as np

# 데이터프레임 만들기
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = ['A','B','C','D']) #위에서 만든 dates를 인덱스로 사용한다. 열은 ABCD로 지정
df

                   A         B         C         D
2019-03-01  1.063125  1.966109  1.524647  0.821151
2019-03-02 -0.155167  1.211415  0.884237 -0.356190
2019-03-03 -1.539717 -0.028966  1.717946  0.498802
2019-03-04  0.312216  2.214521  0.210891  0.997194
2019-03-05 -1.851704  0.550995  2.119257 -0.547570
2019-03-06  0.010899 -0.666386  0.035294  0.153383

In [ ]:
np.random.randn(6,4) # 랜덤한 값을 채워서 6행 4열의 2중 리스트를 만들어주는 함수, 데이터프레임을 만들때 주로 사용한다.

array([[-0.03821156, -2.45694229, -0.07686817,  0.30709444],
       [ 0.7375619 ,  1.50397593, -1.46227584,  1.26307062],
       [-0.18737283,  0.06598259, -0.0419572 ,  0.25460782],
       [ 0.2311828 ,  0.91064533,  1.51219729, -0.57400956],
       [-1.25537019,  1.45802725, -1.21584264,  1.75063536],
       [-1.21153443,  0.01202267, -0.89329401, -0.56985195]])

In [ ]:
type(df) # 인자로 넣은 값의 자료형 확인 가능

pandas.core.frame.DataFrame

In [ ]:
type('abc')

str

In [ ]:
df.columns #데이터프레임의 컬럼 값을 확인 가능
df.index #데이터프레임의 인덱스 조회 가능
df.values #데이터프레임의 값들 조회 가능

array([[ 1.06312514,  1.96610908,  1.52464653,  0.821151  ],
       [-0.15516654,  1.21141511,  0.88423686, -0.35619014],
       [-1.5397169 , -0.0289664 ,  1.71794558,  0.49880233],
       [ 0.3122161 ,  2.21452076,  0.21089107,  0.99719408],
       [-1.85170423,  0.55099545,  2.11925698, -0.54757043],
       [ 0.01089928, -0.66638634,  0.03529414,  0.15338295]])

In [ ]:
# DataFrame 요약하기
df.describe()
# count : 값이 몇개 있는지
# mean : 평균
# std : 표준편차
# min : 최소값
# max : 최대값
# 퍼센트 : 값을 일렬로 세웠을 때 25%에 있는 값이 무엇인지 등

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.360058  0.874615  1.082045  0.261128
std    1.120143  1.131019  0.844961  0.625874
min   -1.851704 -0.666386  0.035294 -0.547570
25%   -1.193579  0.116024  0.379228 -0.228797
50%   -0.072134  0.881205  1.204442  0.326093
75%    0.236887  1.777436  1.669621  0.740564
max    1.063125  2.214521  2.119257  0.997194

In [ ]:
# 데이터프레임 정렬하기
df.sort_values(by='A') #A열을 기준으로 오름차순 정렬 가능 / sort 기본 정렬 : 오름차순
df.sort_values(by='A', ascending=False) #내림차순으로 하고싶은 경우 ascending 키워드 사용

                   A         B         C         D
2019-03-01  1.063125  1.966109  1.524647  0.821151
2019-03-04  0.312216  2.214521  0.210891  0.997194
2019-03-06  0.010899 -0.666386  0.035294  0.153383
2019-03-02 -0.155167  1.211415  0.884237 -0.356190
2019-03-03 -1.539717 -0.028966  1.717946  0.498802
2019-03-05 -1.851704  0.550995  2.119257 -0.547570

In [ ]:
# 데이터프레임의 값 조회하기
df['A'] #A열의 값 조회

#df['20190226'] #데이터프레임의 값을 조회할 때에는 컬럼 명만 사용하여 조회가 가능하다. 얘는 오류남

2019-03-01    1.063125
2019-03-02   -0.155167
2019-03-03   -1.539717
2019-03-04    0.312216
2019-03-05   -1.851704
2019-03-06    0.010899
Freq: D, Name: A, dtype: float64

In [ ]:
# indexing과 slicing
list1 = [1,2,3,4]
list1[2] #인덱스 값을 사용해서 리스트의 값을 가져올 수 있다. -> 특정한 위치를 지정하여 값을 가져오는 인덱싱
list1[1:3] #1번 이상 3번 미만으로 슬라이싱하여 값 전달 -> 시작 이상 ~ 끝 미만의 값을 추출하여 가져오는 슬라이싱

[2, 3]

In [ ]:
df['A'] # 데이터프레임에서의 인덱싱
df[0:2] # 데이터프레임에서의 슬라이싱

# df['A':'B'] #얘는 안됨

                   A         B         C         D
2019-03-01  1.063125  1.966109  1.524647  0.821151
2019-03-02 -0.155167  1.211415  0.884237 -0.356190

In [ ]:
#loc - 이름으로 가져오고 싶을 때 
df.loc['2019-03-01'] #행의 이름을 조회시 사용할 수 있음
df.loc['2019-03-01',['A','B']] #열의 이름으로도 조회 가능
#loc을 사용하여 값을 조회시에는 행 열 순서로 입력한다.

df.loc['2019-03-01':'2019-03-10','A':'C'] #범위를 지정해서 가져오는 것도 가능
# df.loc[0:4,'A':'C'] # 얘는 에러남

                   A         B         C
2019-03-01  1.063125  1.966109  1.524647
2019-03-02 -0.155167  1.211415  0.884237
2019-03-03 -1.539717 -0.028966  1.717946
2019-03-04  0.312216  2.214521  0.210891
2019-03-05 -1.851704  0.550995  2.119257
2019-03-06  0.010899 -0.666386  0.035294

In [ ]:
# iloc (i는 index) - 이름이 아닌 인덱스로 값을 가져오고 싶을 때 사용
df.iloc[0:4] #0부터 3까지 4개의 행이 출력된다.
df.iloc[1,1] #인덱싱이므로 행 열 값을 숫자로 입력해줘야한다.

1.2114151111785842

In [ ]:
### Point

# 데이터프레임 생성 : DataFrame()
# 데이터프레임 요약 : describe()
# 데이터 프레임 정렬 : sort_vlaues()
# 데이터프레임 값 조회 : df['A'], df[0], df.loc['2019-03-01'], df.iloc[0, 3] 등

In [ ]:
df['A']

2019-03-01    1.063125
2019-03-02   -0.155167
2019-03-03   -1.539717
2019-03-04    0.312216
2019-03-05   -1.851704
2019-03-06    0.010899
Freq: D, Name: A, dtype: float64

In [ ]:
df['A'] > 0 
# 이런식으로 조건식 작성시, A열의 각 값이 0보다 작은지 비교하게된다.
# 불리언값 형태로 변경되어 출력됨
# 즉, 데이터프레임(시리즈)에서 비교 연산을 하면 각 값들과 모두 비교를 해서 결과를 해당 자리에 저장한다.

2019-03-01     True
2019-03-02    False
2019-03-03    False
2019-03-04     True
2019-03-05    False
2019-03-06     True
Freq: D, Name: A, dtype: bool

In [ ]:
df[ df['A'] > 0] #데이터프레임 [] 안에 시리즈 형태의 값을 집어넣으면 True인 값만 살고 False는 사라진다.
# 조건문을 넣었지만 결과가 출력된다.

                   A         B         C         D
2019-03-01  1.063125  1.966109  1.524647  0.821151
2019-03-04  0.312216  2.214521  0.210891  0.997194
2019-03-06  0.010899 -0.666386  0.035294  0.153383

In [ ]:
df[ [True, True, False, True, False, False]] #불리언값으로 이루어진 리스트를 전달하면 True에 해당하는 행만 출력된다.
# 데이터의 길이는 정확히 맞추어야 하기 때문에 6개의 행이 있는 프레임을 대상으로 7개의 값을 집어넣거나 하면 오류가 난다.

                   A         B         C         D
2019-03-01  1.063125  1.966109  1.524647  0.821151
2019-03-02 -0.155167  1.211415  0.884237 -0.356190
2019-03-04  0.312216  2.214521  0.210891  0.997194

In [ ]:
# 컬럼의 순서를 바꾸고 싶은 경우
pd.DataFrame(df, columns=['A','C','D','B']) #순서 변경을 확인하기 위해 다르게 적어줌

                   A         C         D         B
2019-03-01  1.063125  1.524647  0.821151  1.966109
2019-03-02 -0.155167  0.884237 -0.356190  1.211415
2019-03-03 -1.539717  1.717946  0.498802 -0.028966
2019-03-04  0.312216  0.210891  0.997194  2.214521
2019-03-05 -1.851704  2.119257 -0.547570  0.550995
2019-03-06  0.010899  0.035294  0.153383 -0.666386

In [ ]:
# 데이터프레임에 열 추가하기
df['E'] = [1,2,3,4,5,6] #새로운 열의 이름을 지정하여 값을 추가해준다. 이 때, 값은 기존의 행의 수와 같은 수로 넣어주어야 한다.
df
# df['E'] = 0 #한 가지 값으로만 채우기도 가능

                   A         B         C         D  E
2019-03-01  1.063125  1.966109  1.524647  0.821151  1
2019-03-02 -0.155167  1.211415  0.884237 -0.356190  2
2019-03-03 -1.539717 -0.028966  1.717946  0.498802  3
2019-03-04  0.312216  2.214521  0.210891  0.997194  4
2019-03-05 -1.851704  0.550995  2.119257 -0.547570  5
2019-03-06  0.010899 -0.666386  0.035294  0.153383  6

In [ ]:
df['F'] = np.nan #값이 없거나, 측정하지 않아 값을 넣으면 안되는 경우 칸을 채우는 용도로 NaN을 넣을 수 잇ㅆ다.
df

                   A         B         C         D  E   F
2019-03-01  1.063125  1.966109  1.524647  0.821151  1 NaN
2019-03-02 -0.155167  1.211415  0.884237 -0.356190  2 NaN
2019-03-03 -1.539717 -0.028966  1.717946  0.498802  3 NaN
2019-03-04  0.312216  2.214521  0.210891  0.997194  4 NaN
2019-03-05 -1.851704  0.550995  2.119257 -0.547570  5 NaN
2019-03-06  0.010899 -0.666386  0.035294  0.153383  6 NaN

In [ ]:
# 디테일한 수정 1 - 정확히 한 곳의 값을 변경해주기
df.loc['2019-03-01', 'A'] = 0  #위치를 지정하여 값 바꿔주기 가능
df

                   A         B         C         D  E   F
2019-03-01  0.000000  1.966109  1.524647  0.821151  1 NaN
2019-03-02 -0.155167  1.211415  0.884237 -0.356190  2 NaN
2019-03-03 -1.539717 -0.028966  1.717946  0.498802  3 NaN
2019-03-04  0.312216  2.214521  0.210891  0.997194  4 NaN
2019-03-05 -1.851704  0.550995  2.119257 -0.547570  5 NaN
2019-03-06  0.010899 -0.666386  0.035294  0.153383  6 NaN

In [ ]:
# 디테일한 수정 2 - 여러 칸을 지정해서 여러 개의 값으로 변경하기 가능
df.loc['2019-03-02', ['B','C']] = 1
df.loc['2019-03-02', ['B','C']] = [1,2] # 1, 2로 입력해도 됨. 값을 각각 변경하려면 리스트의 형태로 값을 대입해준다. 리스트로 덩어리를 넣어줌
df

                   A         B         C         D  E   F
2019-03-01  0.000000  1.966109  1.524647  0.821151  1 NaN
2019-03-02 -0.155167  1.000000  2.000000 -0.356190  2 NaN
2019-03-03 -1.539717 -0.028966  1.717946  0.498802  3 NaN
2019-03-04  0.312216  2.214521  0.210891  0.997194  4 NaN
2019-03-05 -1.851704  0.550995  2.119257 -0.547570  5 NaN
2019-03-06  0.010899 -0.666386  0.035294  0.153383  6 NaN

In [ ]:
# 디테일한 수정 3 - 2개 이상의 행, 2개 이상의 열의 값 변경하기
df.loc[['2019-03-03','2019-03-04'], ['B','C']] = 0 #값이 여러개가 되는 경우 대괄호로 묶어서 리스트 형태로 전달한다
df

                   A         B         C         D  E   F
2019-03-01  0.000000  1.966109  1.524647  0.821151  1 NaN
2019-03-02 -0.155167  1.000000  2.000000 -0.356190  2 NaN
2019-03-03 -1.539717  0.000000  0.000000  0.498802  3 NaN
2019-03-04  0.312216  0.000000  0.000000  0.997194  4 NaN
2019-03-05 -1.851704  0.550995  2.119257 -0.547570  5 NaN
2019-03-06  0.010899 -0.666386  0.035294  0.153383  6 NaN

In [ ]:
# 2개의 행과 2개의 열이므로, 이중 리스트로 만들어서 변경할 값을 전달해주어야 한다.
df.loc[['2019-03-03','2019-03-04'], ['B','C']] = [[1,1],[2,2]] #이중 리스트로 값 전달
df.iloc[[2,3],[1,2]] = [[1,1],[2,2]] #iloc으로도 가능
df

                   A         B         C         D  E   F
2019-03-01  0.000000  1.966109  1.524647  0.821151  1 NaN
2019-03-02 -0.155167  1.000000  2.000000 -0.356190  2 NaN
2019-03-03 -1.539717  1.000000  1.000000  0.498802  3 NaN
2019-03-04  0.312216  2.000000  2.000000  0.997194  4 NaN
2019-03-05 -1.851704  0.550995  2.119257 -0.547570  5 NaN
2019-03-06  0.010899 -0.666386  0.035294  0.153383  6 NaN

In [ ]:
# 열 방향 연산
# A에 1을 더한 컬럼 추가하기
df['A+1'] = df['A'] + 1 #새로운 컬럼명을 만들어서 +1을 입력해서 값을 대입해준다.
df

                   A         B         C         D  E   F       A+1
2019-03-01  0.000000  1.966109  1.524647  0.821151  1 NaN  1.000000
2019-03-02 -0.155167  1.000000  2.000000 -0.356190  2 NaN  0.844833
2019-03-03 -1.539717  1.000000  1.000000  0.498802  3 NaN -0.539717
2019-03-04  0.312216  2.000000  2.000000  0.997194  4 NaN  1.312216
2019-03-05 -1.851704  0.550995  2.119257 -0.547570  5 NaN -0.851704
2019-03-06  0.010899 -0.666386  0.035294  0.153383  6 NaN  1.010899

In [ ]:
# A 열과 B 열을 더하고 싶은 경우
df['A+B'] = df['A'] + df['B']
df

                   A         B         C         D  E   F       A+1       A+B
2019-03-01  0.000000  1.966109  1.524647  0.821151  1 NaN  1.000000  1.966109
2019-03-02 -0.155167  1.000000  2.000000 -0.356190  2 NaN  0.844833  0.844833
2019-03-03 -1.539717  1.000000  1.000000  0.498802  3 NaN -0.539717 -0.539717
2019-03-04  0.312216  2.000000  2.000000  0.997194  4 NaN  1.312216  2.312216
2019-03-05 -1.851704  0.550995  2.119257 -0.547570  5 NaN -0.851704 -1.300709
2019-03-06  0.010899 -0.666386  0.035294  0.153383  6 NaN  1.010899 -0.655487

In [ ]:
# 데이터 다운로드 https://data.seoul.go.kr/
# 엑셀 데이터를 사용하기 위해 install 해줘야함

In [ ]:
pip install xlrd==1.2.0

Requirement already satisfied: xlrd==1.2.0 in /usr/local/lib/python3.7/dist-packages (1.2.0)

In [ ]:
 pd.read_excel('./seoul.xls', header = 1, usecols="C:K") #원하는 행을 헤더로 만들 수 있다.
 # 열은 순서대로 A B C D... 임 C번째 열부터 K열 까지 사용하겠다고 지정

     전체   남학생   여학생  전체.1  남학생.1  여학생.1  전체.2  남학생.2  여학생.2
0  35.1  29.8  40.8  25.4   21.2   29.9  11.2    8.8   13.8

In [ ]:
# 컬럼들의 이름 변경하기
col_names = ['스트레스','스트레스남학생','스트레스여학생','우울감경험률','우울남학생','우울여학생','자살생각율','자살남학생','자살여학생']
col_names

['스트레스',
 '스트레스남학생',
 '스트레스여학생',
 '우울감경험률',
 '우울남학생',
 '우울여학생',
 '자살생각율',
 '자살남학생',
 '자살여학생']

In [ ]:
 raw_data = pd.read_excel('./seoul.xls', header = 1, usecols="C:K", names=col_names) # names를 통해 컬럼의 이름을 원하는 값으로 지정 가능
 raw_data

   스트레스  스트레스남학생  스트레스여학생  우울감경험률  우울남학생  우울여학생  자살생각율  자살남학생  자살여학생
0  35.1     29.8     40.8    25.4   21.2   29.9   11.2    8.8   13.8

In [ ]:
raw_data.loc[1] = 100 - raw_data.loc[0]
raw_data

   스트레스  스트레스남학생  스트레스여학생  우울감경험률  우울남학생  우울여학생  자살생각율  자살남학생  자살여학생
0  35.1     29.8     40.8    25.4   21.2   29.9   11.2    8.8   13.8
1  64.9     70.2     59.2    74.6   78.8   70.1   88.8   91.2   86.2

In [ ]:
# 인덱스 이름 변경하기
#raw_data.set_index()
raw_data['응답']= ['그렇다','아니다'] #일단 새로 열을 추가함
raw_data
raw_data.set_index('응답')  # set_index는 프레임에 있는 열을 하나 골라서 인덱스로 사용할 수 있다. 
#  drop=False 옵션을 줘서 인덱스로 사용한 열을 없앨지 말지 정할 수 있음

     스트레스  스트레스남학생  스트레스여학생  우울감경험률  우울남학생  우울여학생  자살생각율  자살남학생  자살여학생
응답
그렇다  35.1     29.8     40.8    25.4   21.2   29.9   11.2    8.8   13.8
아니다  64.9     70.2     59.2    74.6   78.8   70.1   88.8   91.2   86.2

In [ ]:
# raw_data.set_index('응답', inplace=True)
# raw_data